*{margin:0;padding:0}
body{background-color:#14bedc;font-family:'Shantell Sans',cursive}
.profile{width:100px;height:120px;border:3px solid #000;border-radius:30%;float:left}
.container{max-width:1000px;background-color:#dacdff;margin:0 auto;padding:30px}
.header-bio{float:left;padding:25px}
.header1{float:right;padding:35px}
.header1{align-self:hover}
.header1 a{text-decoration:none;color:#e2652b;font-weight:700}
.header1 a:hover{text-decoration:underline;color:green}
.div-clear{clear:both}
hr{border:solid #878dde;width:100%;margin:30 auto}
.left-div{width:30%;float:left}
.right-div{width:70%;float:left}
.horizontal-rule{border-bottom:none;border:solid #878dde;width:100%;margin:20px auto}
.bottom-style{background-color:#000;text-align:center;padding:10px}
.bottom-style a{color:red;text-decoration:dashed;margin:20px}
.bottom-style a:hover{text-decoration:underline;color:#adff2f}